extends layout
block content
    .row.banner
        .col-12
            h1= title
    .row
        .col-12.col-lg-8
            p
                | Telangana tourism is a delightful blend of history, culture, and natural beauty. From the iconic Charminar and Golconda Fort in Hyderabad to the serene Nagarjuna Sagar Dam and lush Kuntala Waterfall, the state offers a diverse range of attractions. Its rich cultural heritage is evident in the vibrant festivals like Bathukamma and Bonalu, and the delectable cuisine featuring the world-famous Hyderabadi Biryani. Telangana is also a hub for traditional crafts and shopping, with its handicrafts like Bidriware and Nirmal paintings gaining recognition. Whether you're a history buff, nature enthusiast, or food lover, Telangana has something to offer every traveler seeking a unique and enriching experience.