extends layout
block content
    .row.banner
        .col-12
            h1= title
    .row
        .col-12.col-lg-8
            p
                | Telangana is a landlocked state in India situated on the south-central stretch of the Indian peninsula on the high Deccan Plateau.