extends layout
block content
    .row.banner
        .col-12
            h1 activites 
    .row
        .col-12.col-lg-9
            .row
                .col-12.col-md-6
                    .card.card-primary
                        .card-block
                            h2.card-title escape water park
                            img.img-fluid.rounded(src='https://media1.thrillophilia.com/filestore/lqbo7otymqvlegs5co4ktmv2mzv7_1585920218_palm_exo20.png?w=305&h=230&dpr=1.0')
                    .card.card-primary
                        .card-block
                            h2.card-title  wonderlaa
                             img.img-fluid.rounded(src='https://media1.thrillophilia.com/filestore/kiepdayrc714k5tqprug5aqm23rz_1589177614_RECOIL_venkwi_tybeos.jpg?w=305&h=230&dpr=1.0')
                    .card.card-primary
                        .card-block
                            h2.card-title  ramoji film city
                             img.img-fluid.rounded(src='https://media1.thrillophilia.com/filestore/1extmjt4zo3pvjzzc533bijzmlql_DHL_7798-2.jpg?w=305&h=230&dpr=1.0')