extends layout
block content
    .row.banner
        .col-12
            h1 Activites in telangana
    .row
        .col-12.col-lg-9
            .row
                .col-12.col-md-6
                    .card.card-primary
                        .card-block
                            h2.card-title escape water park
                            img.img-fluid.rounded(src='https://media1.thrillophilia.com/filestore/lqbo7otymqvlegs5co4ktmv2mzv7_1585920218_palm_exo20.png?w=305&h=230&dpr=1.0')
                            p Colorful, family-friendly waterpark featuring slides, a play pool, float rides and other attractions
                                p Appointments: escapewaterpark.com
                                    p Phone: 073373 33428
                                        p Address: Siddulagutta Rd, beside Fort Grand, Shamshabad, Hyderabad, Telangana 501218
                    .card.card-primary
                        .card-block
                            h2.card-title  wonderlaa
                            img.img-fluid.rounded(src='https://media1.thrillophilia.com/filestore/kiepdayrc714k5tqprug5aqm23rz_1589177614_RECOIL_venkwi_tybeos.jpg?w=305&h=230&dpr=1.0')
                            p Phone: 084146 76333
                                p Address: Nehru Outer Ring Road Exit No. 13, Raviryal, Telangana 501510
                                    p Appointments: wonderlaa.com
                    .card.card-primary
                        .card-block
                            h2.card-title  ramoji film city
                            img.img-fluid.rounded(src='https://media1.thrillophilia.com/filestore/1extmjt4zo3pvjzzc533bijzmlql_DHL_7798-2.jpg?w=305&h=230&dpr=1.0')
                            p Phone: +91 844 233 3333
                                p Escape to Ramoji Film City, a magical realm filled with excitement and wonderful surprises at every turn. As the worlds largest integrated film city and India's only thematic holiday destination with the magic of cinema, there’s something special for everyone.
                                    p Website:ramojifilmcity.com