extends layout
block content
    .col.banner
        .col-12
            h1 Hyderbad 
    .row 
        .col-12.col-lg-9
            .row
                col-12.col-md-6
                    .card.card-primary
                        .card-block
                            h2.card-title charminar 
                            img.img-fluid.rounded(src='https://www.holidify.com/images/bgImages/HYDERABAD.jpg')
                            p The four pillars around Charminar represent the four caliphs. These pillars or minars are 48.7 meters high. These are four stories, with each floor divided by intricately carved rings that surround it. On the top floor of Chaminar there is a mosque which is believed to be the oldest mosque of Hyderabad city.
                                p Address: Charminar Rd, Char Kaman, Ghansi Bazaar, Hyderabad, Telangana 500002
                                    p Hours: Closed ⋅ Opens 9am weekdays and weekends

                    .card.card-primary
                        .card-block
                            h2.card-title  golkonda fort
                            img.img-fluid.rounded(src='https://upload.wikimedia.org/wikipedia/commons/thumb/2/28/Forte_di_golconda%2C_vedute_da_est_06.jpg/375px-Forte_di_golconda%2C_vedute_da_est_06.jpg')
                            p Golconda was the principal capital of the Qutub Shahi kings. The inner fort contains ruins of palaces, mosques and a hill top pavilion, which rises about 130 meters high and gives a bird's eye view of other buildings. Golconda fort is undoubtedly one of most magnificent fortress complexes in India
                                p Address: Khair Complex, Ibrahim Bagh, Hyderabad, Telangana 500008
                                    p Hours: Closed ⋅ Opens 7am
                    .card.card-primary
                        .card-block
                            h2.card-title  hussain sager lake
                            img.img-fluid.rounded(src='https://upload.wikimedia.org/wikipedia/commons/thumb/8/8a/Buddha_statue_11102016.jpg/405px-Buddha_statue_11102016.jpg')
                            p Hussain Sagar is a heart-shaped lake in Hyderabad, Telangana, built by Ibrahim Quli Qutb Shah in 1563. It is spread across an area of 5.7 square kilometres and is fed by the River Musi. A large monolithic statue of the Gautama Buddha, erected in 1992, stands on Gibraltar Rock in the middle of the lake
                                p Address: Hyderabad, Telangana 500008
                                    p Hours: Closed ⋅ Opens 7am

                    