extends layout
block content
    .row.banner
        .col-12
            h1 Hyderbad 
    .row
        .col-12.col-lg-9
            .row
                .col-12.col-md-6
                    .card.card-primary
                        .card-block
                            h2.card-title charminar 
                            img.img-fluid.rounded(src='https://www.holidify.com/images/bgImages/HYDERABAD.jpg')
                    .card.card-primary
                        .card-block
                            h2.card-title  golkonda fort
                            img.img-fluid.rounded(src='https://upload.wikimedia.org/wikipedia/commons/thumb/2/28/Forte_di_golconda%2C_vedute_da_est_06.jpg/375px-Forte_di_golconda%2C_vedute_da_est_06.jpg')
                    .card.card-primary
                        .card-block
                            h2.card-title  hussain sager lake
                            img.img-fluid.rounded(src='https://upload.wikimedia.org/wikipedia/commons/thumb/8/8a/Buddha_statue_11102016.jpg/405px-Buddha_statue_11102016.jpg')

                    