extends layout
block content
    .row.banner
        .col-12
            h1 karimanagar  
    .row
        .col-12.col-lg-9
            .row
                .col-12.col-md-6
                    .card.card-primary
                        .card-block
                            h2.card-title LMD  
                            img.img-fluid.rounded(src='https://upload.wikimedia.org/wikipedia/commons/thumb/9/9c/Manair_Reservoir%2C_India.jpg/330px-Manair_Reservoir%2C_India.jpg')
                            p The Lower Manair Dam is located on the Manair River at 18°24′ N latitude and 79° 20′ E longitude in Karimnagar District at Km. 146 of Kakatiya Canal.
                                p Location: Karimnagar district, Telangana, India
                                    p Active capacity: 621,000,000 m3 (503,453 acre⋅ft) (21.9 tmc ft)
                                        p Opened: 1985
                    .card.card-primary
                        .card-block
                            h2.card-title karimnager fort
                            img.img-fluid.rounded(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxW58hc5BFtBw7ApJTmyH328936r28NeCgSQOdf5BUOA&s')
                            p History. Originally known as Veligundula, Elgandal is a hillfort built of during the Kakatiya dynasty (1083–1323) and served as a stronghold for the warrior Musunuri Nayaks. The Qutb Shahi dynasty occupied the fort in the 16th century and posted Quinamul Mulk as commander.
                                p Location: Karimnagar district, Telangana, India
                    .card.card-primary
                        .card-block
                            h2.card-title  cable bridge
                            img.img-fluid.rounded(src='https://cdn.s3waas.gov.in/s372b32a1f754ba1c09b3695e0cb6cde7f/uploads/2023/06/2023061976-768x512.jpeg')
                            p Address: Manair River, Near by Godavarikhani Bypass, Warangal Highway, Karimnagar, Telangana 505001
                                p Timings: any time 24/7