extends layout

block content
    .row.banner
        .col-12
            h1= title 
    .row
        .col-12.col-lg-9
            each destination in destinations
                if destination._id === req.params.id  
                    .card.card-primary
                        .card-block
                            h2.card-title= destination.name
                            p.description= destination.description
                            ul
                                each attraction in destination.attractions
                                    li= attraction
